html {
    font-size: clamp(1rem, 2vi, 1.25rem);
    line-height: 1.5;
}

body {
    background-color: $primaryLight;
    color: $primaryDarker;
    font-family: Georgia, "New Century Schoolbook", "Nimbus Roman No9 L", serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    text-align: center;
    font-size: 2.6666em;
    margin: 0.75em 0.6666em;
}

pre {
    font-family: inherit;
}

.hah {
    font-family: "Nimbus Mono L", "Courier New", "Courier", monospace;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    margin: 0 0 0.6666em 0;
}

address {
    display: inline;
    font-style: normal;
}

img {
    border-width: 0;
}

.group {
    display: inline-block;
}

.ico {
    background-repeat: no-repeat;
    padding-left: 1em;

    @include background-size(1em 1em);
}

.mdn {@include ico (mdn);}
.debian {@include ico (debian);}
.github {@include ico (github);}
.gitorious {@include ico (gitorious);}
.node {@include ico (node);}
.html5 {@include ico (html5);}
.manitu {@include ico (manitu);}
