.block-band {
    background-color: $secondaryDark;
    padding: 0.5rem 10%;

    ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1%;
        flex-wrap: wrap;

        li {
            flex-grow: 1;
        }

        li.twice {
            flex-grow: 2;
        }
    }

    .li {
        display: block;
        padding: 0.25rem 0.5rem;
    }

    a.li:focus,
    a.li:hover {
        background-color: $secondaryDarker;
        color: $secondaryLighter;
    }
}
