.content {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

.content a {
    text-decoration: underline $secondaryDark;
}

.content a:focus,
.content a:hover {
  text-decoration-color: $secondaryDarker;
}

.closing {
    padding-left: 1em;
}

.focussable,
.focus {
    width: 49%;
    margin: 0 0 1rem 0;
    padding: 0;
}

.focussable {
    display: inline-block;
}

.focus {
    float: right;
    text-align: justify;

    .focus-link {
        text-align: right;
    }
}
