.content a {
    text-decoration: underline $secondaryDark;
}

.content a:focus,
.content a:hover {
  text-decoration-color: $secondaryDarker;
}

.closing {
    padding-left: 1em;
}

.focus-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    gap: 1%;
}

.focussable,
.focus {
    flex: 1 1 19em;
}

.focus {
    text-align: justify;

    .focus-link {
        text-align: right;
    }
}

.cv {
  dl {
      margin: 0;
      border-inline-start: dashed 1px;
      padding-inline-start: 0.5rem;
  }

  dd {
      padding-block-end: 0.5rem;
  }
}

.side-by-side {
  display: flex;
  flex-direction: row;
  gap: 1%;
  > * {
    flex: 1;
  }
}
