footer {
    /* Content above floats for reordering */
    clear: both;

    font-size: 0.8rem;
    margin: 2rem 0 1rem 0;

    .block-band {
        .li {
            border-inline-start: 1px dashed $primaryDarker;
            padding-block: 0.1rem;
        }
    }

    .license {
        img {
            block-size: 1.5em;
            inline-size: auto;
            vertical-align: bottom;
            padding-inline-end: 0.5rem;
        }
    }
}
