nav.block-band a.active,
nav.block-band a.active:hover,
nav.block-band a.active:focus
{
    color: $primaryDarker;
    background-color: $primaryLight;
    margin-block: -0.5rem;
    padding-block: 0.75rem;
}
