/* Give the whole page a max-width */
.block-band ul,
.content {
    max-width: 43rem;
}

.block-band,
.content {
    padding-inline: 1vi;
    margin-inline: auto;
}

@media only screen and (max-width: 45em) {
    /* Single-column */
    .focus {
        float: none;
        width: auto;
    }

    .focussable {
        width: 100%;
    }
}
