$primaryLighter: white;
$primaryLight: #FCF6EE;
$primaryDark: #EFD09E;
$primaryDarker: #513415;

// Secondary is the same as primary
$secondaryLighter: white;
$secondaryLight: #FCF6EE;
$secondaryDark: #EFD09E;
$secondaryDarker: #513415;

@import "util";

@import "base";

// Layouts
header {
  margin-block-end: 2rem;
}
@import "nav";
@import "content";
@import "footer";

// Modules
@import "tagcloud";
@import "block-band";
@import "big-links";

// Behaviour
@import "response";
