extends layouted

block content
  h2 Contact
  p Great to see that you are interested in my services. I’d love to hear what you are up to! Please pick a protocol or platform of your choice for contacting me:
  dl
    dt Jabber
    dd
      a(href='xmpp:adrian[at]kleinrot[dot]net',title='Contact me via Jabber') adrian [at] kleinrot [dot] net
    dt E-mail
    dd
      a(href='mailto:mail[at]adrianheine[dot]de',title='Contact me via E-mail') mail [at] adrianheine [dot] de
    dt Phone
    dd
      a(href='tel:+4903056971323',title='Call me') +49 030 56971323
    dt GitHub
    dd
      a(href='https://github.com/adrianheine',title='Contact me on GitHub') github.com/adrianheine
    dt Twitter
    dd
      a(href='https://twitter.com/adrianheine',title='Contact me on Twitter') @adrianheine
  h2 Imprint
  pre
    | Adrian Heine
    | Burgemeisterstraße 17
    | 12103 Berlin
    | &nbsp;
    | 030 56971323
    | &nbsp;
    | mail [at] adrianheine [dot] de
