h2 Contact
p Great to see that you are interested in my services. I’d love to hear what you are up to! Please pick a protocol or platform of your choice for contacting me:
dl
  dt Jabber
  dd
    a(href='xmpp:adrian[at]kleinrot[dot]net',title='Contact me via Jabber') adrian [at] kleinrot [dot] net
  dt E-mail
  dd
    a(href='mailto:mail[at]adrianlang[dot]de',title='Contact me via E-mail') mail [at] adrianlang [dot] de
  dt identi.ca
  dd
    a(href='http://identi.ca/adrianlang',title='Contact me on identi.ca') @adrianlang
  dt Twitter
  dd
    a(href='https://twitter.com/adrianlang',title='Contact me on Twitter') @adrianlang
  dt GitHub
  dd
    a(href='https://github.com/adrianlang',title='Contact me on GitHub') github.com/adrianlang
h2 Imprint
pre
  | Adrian Lang
  | Segitzdamm 12
  | 10969 Berlin
  | &nbsp;
  | 030 56971323
  | &nbsp;
  | mail [at] adrianlang [dot] de
