extends layouted

block content
  h2 Formal education and employment
  p
    dl
      dt 07/1994–07/1998
      dd Nürtingen-Grundschule (Elementary school)
      dt 07/1998–06/2006
      dd Friedrich-Engels-Oberschule (High school); Finished with high-school certificate, intensive courses in mathematics and music
      dt 10/2006–09/2009
      dd Hochschule für Wirtschaft und Recht Berlin, Fachbereich Berufsakademie (Integrated degree program computer science); Finished with Bachelor of Science on using SOAP to communicate with VxWorks-based real-time systems; Vocational education at Fritz-Haber-Institut
      dt 10/2009–02/2012
      dd CosmoCode GmbH: Wiki research and development, Web and desktop software development
      dt 02/2012–now
      dd Freelancer: Web development with JavaScript (frontend and Node.js backends) and PHP
