#focus.focus
    include examples_sub
ul.focussable
  - each opts, example in tabs[cur_t].subs
    li
      a(href='/examples/#{example}',title='#{opts.longTitle}')
        - // This is probably a dirty hack
        - buf.push(opts.title.replace(' ', '&nbsp;'))
      | 
