.block-band
  ul
    li
      .li
        a(href="/static/adrianheine-cv.pdf",title="Download PDF summary") PDF summary
    li
      .li
        a.ico.github(href="https://github.com/adrianheine/hire-adrian-heine",title="Hire Adrian Heine on GitHub")
          span.hah HAH
          |&nbsp;on GitHub
    li.twice.license
      .li
        a(href="http://creativecommons.org/licenses/by-sa/3.0/de/",rel="license")
          img(alt="Creative Commons License",src="/static/cc-by-sa-3.0-de-88x31.png",title="Creative Commons Attribution-Share Alike 3.0 Germany License",width='88',height='31')
        a(href="/contact",title="Hire Adrian Heine | Contact") © 2012–2024 Adrian Heine
