extends layouted

block content
  #focus.focus
      include skills_sub
  ul.tagcloud.focussable
    - each opts, skill in tabs[cur_t].subs
      li(class='t#{opts.score}')
        a(href='/skills/#{skill}',title='Hire Adrian Lang | Skills | #{opts.title}')
          - // This is probably a dirty hack
          - buf.push(opts.title.replace(/ /g, '&nbsp;'))
        | 
