ul.tagcloud
  - each opts, skill in tabs[cur_t].subs
    li(class='t#{opts.score}')
      a(href='/skills/#{skill}',title='Hire Adrian Lang | Skills | #{opts.title}') #{opts.title}
      | 
#focus
    include skills_sub
