a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #cbf7ba; /*grün 1*/
    color: #289001; /*grün 5*/
    font-family: Georgia, "New Century Schoolbook", "Nimbus Roman No9 L", serif;
    font-size: 18px;
    line-height: 1.3333em;
    margin: 0;
    padding: 0;
}

header {
    margin: 1.333em 0.666em;
}

header h1 {
    text-align: center;
    font-size: 2.6em;
    line-height: 1em;
    margin: 0em;
}

header h1 a {
    font-family: "Nimbus Mono L", "Courier New", "Courier", monospace;
    color: #289001; /*grün 5*/
}

.group {
    display: inline-block;
}

.block-band {
    background-color: #dafcfa; /*grün x*/
    padding: 0 10%;
}

.block-band, .block-band a {
    color: #dafcfa; /*grün x*/
}

.block-band ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.block-band li {
    /* Does not work in IE6&7 and Firefox 2, workaround is easy:
       https://blog.mozilla.com/webdev/2009/02/20 */
    display: inline-block;
}

.block-band li .li {
    display: block;
    background-color: #90d0c0; /*grün x*/
    padding: 0.2em;
    margin: 8px 10px;
    text-align: center;
    font-size: 1.2em;
}


.block-band li .li:focus,
.block-band li .li:hover {
    background-color: #28a388; /*grün x*/
    color: white; /**/
}

nav li {
    width: 20%;
    min-width: 7em;
}

nav.block-band a.active,
nav.block-band a.active:hover,
nav.block-band a.active:focus {
/*
    padding-bottom: 9px;
    border-bottom: 8px solid #CBF7BA;
    color: #289001;
    background-color: #CBF7BA;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-top: 1px solid #999;
    margin-bottom: -5px;
*/
    color: #289001;
    background-color: #CBF7BA;
}

#content {
    width: 80%;
    margin: 1em auto;
    padding: 0;
}

#content a {
    color: #28a388;
}

#content a:focus,
#content a:hover {
    color: #90d0c0;
}

footer [rel="license"] {
    margin: 8px 10px;
    float: left;
}

footer [rel="license"] img {
    border-width: 0;
    vertical-align: middle;
}

footer.block-band li {
    width: 33%;
    min-width: 12em;
}

footer.block-band ul {
    margin-left: 102px;
}

.tagcloud {
    list-style: none;
    text-align: justify;
    line-height: 1em;
}

.tagcloud li {
    display: inline;
}

.tagcloud .t1 {
    font-size: 0.5em;
}
.tagcloud .t2 {
    font-size: 0.6em;
}
.tagcloud .t3 {
    font-size: 0.8em;
}
.tagcloud .t4 {
    font-size: 1.0em;
}
.tagcloud .t5 {
    font-size: 1.2em;
}
.tagcloud .t6 {
    font-size: 1.4em;
}
.tagcloud .t7 {
    font-size: 1.8em;
}

.focussable {
    width: 48%;
    display: inline-block;
    padding: 0;
}

#content .tagcloud a {
    color: inherit;
}

#content .tagcloud a:focus,
#content .tagcloud a:hover {
    text-decoration: underline;
}

#focus {
    float: right;
    width: 48%;
    text-align: justify;
}

.github {
    float: right;
    background: url(/static/github.ico) no-repeat 0px 3px;
    padding-left: 20px;
}

.gitorious {
    float: right;
    background: url(/static/gitorious.ico) no-repeat 0px 3px;
    padding-left: 20px;
}

@media only screen and (max-width: 768px) {
    #focus {
        float: none;
        width: auto;
    }

    .focussable {
        width: auto;
    }
}

@media only screen and (max-width: 480px) {
    #content {
        margin: 1em;
        width: auto;
    }

    .block-band {
        padding: 0;
    }
}
